.skill-container{
    background-image: url("https://images.unsplash.com/photo-1536859355448-76f92ebdc33d?q=80&w=3869&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");;
    background-size: cover;
}

.skill-data-div{
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5rem;
}

.skillimage{
    width: 100px;
    height: 100px;
}

.skill-div{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.csstooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

.html:hover .csstooltiptext {
    visibility: visible;
}
.css:hover .csstooltiptext {
    visibility: visible;
}
.JS:hover .csstooltiptext {
    visibility: visible;
}
.java:hover .csstooltiptext {
    visibility: visible;
}
.node:hover .csstooltiptext {
    visibility: visible;
}
.mongo:hover .csstooltiptext {
    visibility: visible;
}
.reacttest:hover .csstooltiptext {
    visibility: visible;
}
.express:hover .csstooltiptext {
    visibility: visible;
}
.react:hover .csstooltiptext {
    visibility: visible;
}
.sql:hover .csstooltiptext {
    visibility: visible;
}
.oracle:hover .csstooltiptext {
    visibility: visible;
}
.jest:hover .csstooltiptext {
    visibility: visible;
}